{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <a href="{{ path('fos_user_profile_show') }}">Mon profil</a>
            {% if app.user.userProfile.facebook is not empty or app.user.userProfile.twitter is not empty or app.user.userProfile.website is not empty%}
                <ul class="nav nav-sidebar">
                    <li><a href="{{ app.user.userProfile.facebook }}">Facebook</a></li>
                    <li><a href="{{ app.user.userProfile.twitter }}">Twitter</a></li>
                    <li><a href="{{ app.user.userProfile.website }}">Site Web</a></li>
                </ul>
            {% endif %}
        </div>
        <div class="col-sm-8">
            <section>
                <header>
                    {% if app.user.userProfile.biographie is not empty %}
                        <p class="h3">
                            Biographie
                        </p>
                        <p>{{ app.user.userProfile.biographie }}</p>
                    {% endif %}
                </header>
                {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                    {{ form_widget(form) }}
                    <div>
                        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
                    </div>
                {{ form_end(form) }}
            </section>
        </div>
    </div>
</div>

