{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="user-sidebar">
                {% if app.user.userProfile.avatar is defined %}
                    <img class="img-responsive" src="{{ vich_uploader_asset(app.user.userProfile, 'avatar_file') }}">
                {% endif %}
                <a href="{{ path('fos_user_profile_edit') }}">Modifier mon profil</a>
                <ul class="nav nav-sidebar">
                    {% if app.user.userProfile.facebook is not empty %}
                        <li><a href="{{ app.user.userProfile.facebook }}">Facebook</a></li>
                    {% endif %}
                    {% if app.user.userProfile.twitter is not empty %}
                        <li><a href="{{ app.user.userProfile.twitter }}">Twitter</a></li>
                    {% endif %}
                    {% if app.user.userProfile.twitter is not empty %}
                        <li><a href="{{ app.user.userProfile.website }}">Site Web</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-sm-8">
            <section>
                <header>
                    {% if app.user.userProfile.biographie is not empty %}
                        <p class="h3">
                            Biographie
                        </p>
                        <p>{{ app.user.userProfile.biographie }}</p>
                    {% endif %}
                </header>
            </section>
        </div>
    </div>
</div>

