{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="user-sidebar">
                {{
                  include('user/_avatar.html.twig',
                    { path: user.UserProfile.avatar, config: 'user_avatar_lg', alt: user.slug, class: "img-responsive" },
                    { with_context: false }
                  )
                }}
                {% if user.id == app.user.id %}
                    <a href="{{ path('fos_user_profile_edit') }}">Modifier mon profil</a>
                {% endif %}
                <ul class="nav nav-sidebar">
                    {% if user.userProfile.facebook is not null %}
                        <li><a href="{{ user.userProfile.facebook }}">Facebook</a></li>
                    {% endif %}
                    {% if user.userProfile.twitter is not null %}
                        <li><a href="{{ user.userProfile.twitter }}">Twitter</a></li>
                    {% endif %}
                    {% if user.userProfile.twitter is not null %}
                        <li><a href="{{ user.userProfile.website }}">Site Web</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-sm-8">
            {% if user.userProfile.biographie is not null %}
                <section>
                    <header>
                        Biographie
                    </header>
                    <p>{{ user.userProfile.biographie }}</p>
                </section>
            {% endif %}
            {% if user.userProfile.isFilled() %}
                <div class="row">
                    {% if user.userProfile.favoriteAuthors is not null %}
                        <div class="col-xs-12 col-sm-6">
                            <section>
                                <header>
                                    Auteur(s) Préféré(e)s
                                </header>
                                <p>{{ user.userProfile.favoriteAuthors }}</p>
                            </section>
                        </div>
                    {% endif %}
                    {% if user.userProfile.favoriteBook is not null %}
                        <div class="col-xs-12 col-sm-6">
                            <section>
                                <header>
                                    Livres préférés
                                </header>
                                <p>{{ user.userProfile.favoriteBook }}</p>
                            </section>
                        </div>
                    {% endif %}
                    {% if user.userProfile.inspiration is not null %}
                        <div class="col-xs-12 col-sm-6">
                            <section>
                                <header>
                                    Inspiration du moment
                                </header>
                                <p>{{ user.userProfile.inspiration }}</p>
                            </section>
                        </div>
                    {% endif %}

                    {% if user.userProfile.style is not null %}
                        <div class="col-xs-12 col-sm-6">
                            <section>
                                <header>
                                    Style d'écriture
                                </header>
                                <p>{{ user.userProfile.style }}</p>
                            </section>
                        </div>
                    {% endif %}

                    {% if user.userProfile.favoriteGenre is not null %}
                        <div class="col-xs-12 col-sm-6">
                            <section>
                                <header>
                                    Style Genre(s) de prédilection
                                </header>
                                <p>{{ user.userProfile.favoriteGenre }}</p>
                            </section>
                        </div>
                    {% endif %}

                    {% if user.userProfile.experience is not null %}
                        <div class="col-xs-12 col-sm-6">
                            <section>
                                <header>
                                    En quoi l'écriture le motive-t-elle ?
                                </header>
                                <p>{{ user.userProfile.experience }}</p>
                            </section>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
