{% trans_default_domain 'FOSUserBundle' %}

<div class="container margin">
    <div class="row">
        <div class="col-sm-3">
            <div class="user-sidebar">
                {{
                  include('user/_avatar.html.twig',
                    { path: user.UserProfile.avatar, config: 'user_avatar_lg', alt: user.slug, class: "img-responsive" },
                    { with_context: false }
                  )
                }}
                {% if (user.id == user.id or user.roles[0] == 'ROLE_SUPER_ADMIN') %}
                    <a class="btn btn-primary btn-block" href="{{ path('fos_user_profile_edit', { slug: user.slug }) }}">Modifier profil</a>
                {% endif %}
                {% if  user.userProfile.facebook is not null or user.userProfile.twitter is not null or user.userProfile.website is not null %}
                    <ul class="nav nav-sidebar">
                        <p>Ses Réseaux</p>
                        {% if user.userProfile.facebook is not null %}
                            <li><a href="{{ user.userProfile.facebook }}">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                Son compte Facebook
                            </a></li>
                        {% endif %}
                        {% if user.userProfile.twitter is not null %}
                            <li><a href="{{ user.userProfile.twitter }}">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                Son compte Twitter
                            </a></li>
                        {% endif %}
                        {% if user.userProfile.twitter is not null %}
                            <li><a href="{{ user.userProfile.website }}">
                                <i class="fa fa-link" aria-hidden="true"></i>
                                Son site web
                            </a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-9">
            <h1>{{ user.getCommonName() }}</h1>
            {% if user.userProfile.biographie is not null %}
                <section class="text-center">
                    <header>
                        Biographie
                    </header>
                    <p>{{ user.userProfile.biographie }}</p>
                </section>
            {% endif %}
            {% if user.userProfile.isFilled() %}
                <div class="row">
                    {% if user.userProfile.favoriteAuthors is not null %}
                        <div class="col-xs-12 col-sm-6">
                            <section>
                                <header>
                                    Auteur(s) Préféré(e)s
                                </header>
                                <p>{{ user.userProfile.favoriteAuthors }}</p>
                            </section>
                        </div>
                    {% endif %}
                    {% if user.userProfile.favoriteBook is not null %}
                        <div class="col-xs-12 col-sm-6">
                            <section>
                                <header>
                                    Livres préférés
                                </header>
                                <p>{{ user.userProfile.favoriteBook }}</p>
                            </section>
                        </div>
                    {% endif %}
                    {% if user.userProfile.inspiration is not null %}
                        <div class="col-xs-12 col-sm-6">
                            <section>
                                <header>
                                    Inspiration du moment
                                </header>
                                <p>{{ user.userProfile.inspiration }}</p>
                            </section>
                        </div>
                    {% endif %}

                    {% if user.userProfile.style is not null %}
                        <div class="col-xs-12 col-sm-6">
                            <section>
                                <header>
                                    Style d'écriture
                                </header>
                                <p>{{ user.userProfile.style }}</p>
                            </section>
                        </div>
                    {% endif %}

                    {% if user.userProfile.favoriteGenre is not null %}
                        <div class="col-xs-12 col-sm-6">
                            <section>
                                <header>
                                    Style Genre(s) de prédilection
                                </header>
                                <p>{{ user.userProfile.favoriteGenre }}</p>
                            </section>
                        </div>
                    {% endif %}

                    {% if user.userProfile.experience is not null %}
                        <div class="col-xs-12 col-sm-6">
                            <section>
                                <header>
                                    En quoi l'écriture le motive-t-elle ?
                                </header>
                                <p>{{ user.userProfile.experience }}</p>
                            </section>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            {% if post is not null %}
                <p class="h3">Dernière participation</p>
                {{ include('post/_post_box.html.twig', { tree: post, users: users }, { with_context: false }) }}
            {% endif %}
        </div>
    </div>
</div>
