<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" href="/">
        <img class="img-responsive" src="{{ asset('frontend/home-logo.jpg', 'media') }}" alt="Inedits" width="60" height="60">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
            <li class="active"><a href="{{ path('tree_list') }}">Les arbres</a></li>
            <li><a href="#">Link</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if app.user %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      {{
                        include('user/_avatar.html.twig',
                          { path: app.user.UserProfile.avatar, config: 'user_avatar_xs', alt: app.user.slug, class: "img-circle" },
                          { with_context: false }
                        )
                      }}
                      {{ app.user.firstName }} {{ app.user.lastName }}
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% if app.user.roles[0] == "ROLE_SUPER_ADMIN" %}
                          <li><a href="{{ path('sonata_admin_redirect') }}">Dashboard</a></li>
                        {% endif %}
                        <li><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                    </ul>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                </li>
                <li>
                    <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
                </li>
            {% endif %}
        </ul>
    </div>
  </div>
</nav>
