{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

        <p class="title">Vos informations personnelles *</p>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form_row(form.firstName) }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form_row(form.lastName) }}
                </div>
            </div>
        </div>

        <p class="title">Votre compte In&amp;dits</p>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form_row(form.email) }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-xs-6">
                        {{ form_row(form.userProfile.avatar) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.userProfile.cover) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form_row(form.plainPassword.first) }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form_row(form.plainPassword.second) }}
                </div>
            </div>
        </div>

        <p class="title">Votre profil</p>
        <div class="form-group">
            {{ form_row(form.userProfile.biographie) }}
        </div>

        <p class="title">Conditions générales d'utilisation</p>
        <div class="form-group">
            {{ form_row(form.gtu) }}
        </div>

        {{ form_rest(form) }}
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    {{ form_end(form) }}
</div>
