{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

        <p class="h3 bubble">Vos informations personnelles *<span>1</span></p>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form_row(form.firstName) }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form_row(form.lastName) }}
                </div>
            </div>
        </div>

        <p class="h3 bubble">Votre compte In&amp;dits<span>2</span></p>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form_widget(form.email, { attr: { 'placeholder': 'Votre adresse email' } }) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form_widget(form.plainPassword.first, { attr: { 'placeholder': 'Votre mot de passe' } }) }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form_widget(form.plainPassword.second, { attr: { 'placeholder': 'Confirmer le mot de passe' } }) }}
                </div>
            </div>
        </div>

        <p class="h3 bubble">Votre profil<span>3</span></p>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                {{ form_row(form.userProfile.avatarFile) }}
            </div>
            <div class="col-xs-12 col-sm-6">
                {{ form_row(form.userProfile.coverFile) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_row(form.userProfile.biographie) }}
        </div>

        <p class="title">Conditions générales d'utilisation</p>
        <div class="form-group">
            {{ form_row(form.gtu) }}
        </div>

        {{ form_rest(form) }}
        <button class="btn btn-blue" type="submit">S'inscrire</button>
        <p class="h3 bubble"><span class="last">></span></p>
    {{ form_end(form) }}
</div>
