<div class="user-box">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="cover">
          {{
            include('user/_cover_box.html.twig',
              { path: user.userProfile.cover, config: 'user_cover_sm', alt: user.slug ~ 'cover' },
              { with_context: false }
            )
          }}
        </div>
        <div class="absolute-center">
          <a href="{{ path('fos_user_profile_see', {slug:user.slug}) }}">
            {{
              include('user/_avatar.html.twig',
                { path: user.userProfile.avatar, config: 'user_avatar_sm', alt: user.slug, class: "img-circle" },
                { with_context: false }
              )
            }}
          </a>
        </div>
      </div>
      <div class="panel-body text-center">
        <a href="{{ path('fos_user_profile_see', {slug:user.slug}) }}">
          <p class="h3">{{ user.getBoxName() }}</p>
        </a>
        {{ user.userProfile.biographie|truncate(100, true) }}
      </div>
      <ul class="list-group text-center">
          <li class="list-group-item">Contributions écrites : <b>{{ user.postCount }}</b></li>
      </ul>
      <div class="panel-footer">
        <a class="btn btn-block" href="{{ path('fos_user_profile_see', {slug:user.slug}) }}">Voir son profil</a>
      </div>
    </div>
</div>
