{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Connexion{% endblock %}
{% block body_class %}login{% endblock %}
{% block player %}
    {# NAVBAR #}
    {{ include('frontend/_player.html.twig', { message: 'Se connecter' }, with_context = false) }}
{% endblock %}

{% block fos_user_content %}
{% if error %}
    {{ include('global/_alerts.html.twig',{ type: 'danger', message: error.messageKey|trans(error.messageData, 'security') }, { with_context: false }) }}
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="thumbnail">
                <div class="caption">
                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">@</div>
                                <input class="form-control" type="password" id="password" name="_password" required="required" />
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                        </div>

                        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Pas encore de compte ?</h3>
                    <p>Découvrez la première plateforme d'écriture collaborative</p>
                    <p>
                        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-default" role="button">S'inscrire<span class="glyphicon glyphicon-chevron-right"></span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock fos_user_content %}
