<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('app.css','css') }}">
        {% endblock %}

        <title>{{ project_name }} - {% block title %}{% endblock %}</title>
    </head>

    <body class="{% block body_class %}layout-user{% endblock %}">
        {# NAVBAR #}
        {{ include('frontend/_navbar.html.twig', with_context = false) }}

        {% block player %}{% endblock %}

        {# FLASH MESSAGE #}
        {% if app.request.hasPreviousSession %}
            <div class="container">
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        {{ include('global/_alerts.html.twig', { type: type, message: message }, with_context = false) }}
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        {% block flashbag %}{% endblock %}

        {# FOS CONTENT #}
        {% block fos_user_content %}
        {% endblock fos_user_content %}

        {% block body %}{% endblock %}

        {% block footer %}
            {{ include('footer/footer.html.twig', { with_context: false } ) }}
        {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('app.js','js') }}" async></script>
        <script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
    {% endblock %}

    </body>
</html>
