<article>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ tree.title }}</h3>
      </div>
      <div class="panel-body">
        {{ tree.content }}
      </div>
      <div class="panel-footer">
        <ul class="list-inline">
          {% for author in tree.Users %}
              <li>{{ author.firstName }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="panel-footer">
        <a class="btn" href="{{ path('post_tree_show', {slug:tree.slug}) }}">Lire</a>
        {% if app.user is defined %}
            <a class="btn" href="{{ path('fos_user_registration_register') }}">Participer</a>
        {% endif %}
      </div>
    </div>
</article>
